.container {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
}

.content_btn {
    position: relative;
    width: 80%;
    min-height: 100vh;
    transform: translateX(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_btn .link {
    display: flex;
    align-items: center;
    color: #fff;
    width: 150px;
    height: 50px;
    justify-content: center;
    border-radius: 7px;
    background-color: #264653;
    font-size: 20px;
    transition: all .5s ease;
}

.content_btn .link:hover {
    background-color: #1e3c47;
}

main {
    width: 80%;
    min-height: 100vh;
    padding: 20px 30px;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
}

main .chart {
    width: 90%;
    height: 300px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, .5);
    position: absolute;
    padding: 5px;
}

main .info {
    width: 90%;
    display: flex;
    height: auto;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
}

main .info .info_1 {
    width: 48%;
    height: 250px;
    display: block;
    border-radius: 8px;
    background: #fff;
    box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all .5s ease;
}

main .info .info_1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

main .info .info_1 h3 {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #363636;
}

main .info .info_2 {
    width: 48%;
    height: 250px;
    border-radius: 8px;
    display: block;
    background: #fff;
    box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all .5s ease;
}

main .info .info_2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

main .info .info_2 h3 {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #363636;
}

main .info .info_1:hover {
    transform: scale(1.03);
}

main .info .info_2:hover {
    transform: scale(1.03);
}