.content_table {
    width: 100%;
}

.table {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.table thead tr {
    background: #6c7ae0;
}

.table th, .table td {
    padding: 15px;
}

.table th {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 200;
}

.table td {
    color: #272727;
    font-weight: 500;
    font-size: 13px;
}

.table tbody tr{
    transition: all .5s ease;
    cursor: pointer;
}

.table tbody tr:hover {
    background: #ccc;
}