.container {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
}

.content_btn {
    position: relative;
    width: 80%;
    min-height: 100vh;
    transform: translateX(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_btn .link {
    display: flex;
    align-items: center;
    color: #fff;
    width: 150px;
    height: 50px;
    justify-content: center;
    border-radius: 7px;
    background-color: #264653;
    font-size: 20px;
    transition: all .5s ease;
}

.content_btn .link:hover {
    background-color: #1e3c47;
}

main {
    width: 80%;
    min-height: 100vh;
    padding: 20px 40px;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
}

main .section_table {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 10px 15px 30px 5px  rgba(0, 0, 0, .5);
    max-height: 500px;
    padding: 15px 20px;
    margin-top: 50px;
}

.btn_new {
    position: fixed;
    bottom: 30px;
    right: 50px;
    float: right;
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    background: #242e42;
    z-index: 1000;
    transition: all .2s ease;
}

.btn_new i {
    font-size: 20px;
}

.btn_new:hover {
    background: #171d2b;
    transform: scale(1.05);
}

/* Loading Content */
.loading_content {
    width: 80%;
    min-height: 100vh;
    padding: 20px 30px;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Page only Stock */
main .chart {
    width: 90%;
    height: 300px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 10px 15px 30px 5px rgba(0, 0, 0, .5);
    position: absolute;
    padding: 5px;
}

main .info_content {
    width: 90%;
    height: auto;
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 30px;
}

main .info_content div {
    width: 48%;
    height: 250px;
    padding: 0 10px;
}

main .info_content div .info_stock {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

main .info_content div .info_stock h2 {
    font-size: 20px;
    color: #181818;
}

main .info_content div .info_stock h4 {
    font-size: 20px;
    color: #222222;
    margin-left: 10px;
    font-weight: 300;
}

main .info_content div .info_stock .btn {
    width: 40%;
    height: 90%;
    background-color: #118ab2;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    transition: all .5s ease;
}

main .info_content div .info_stock .btn:hover {
    background-color: #0e6b8a;
}

/* Form new Stock */
.content_form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 10px 5px 30px 10px rgba(0, 0, 0, .5);
    padding: 20px;
}

.content form {
    width: 100%;
    height: 100%;
}

.content form .group {
    width: 100%;
    padding: 5px;
    margin: 10px 0;    
}

.content form .group input{
    width: 100%; 
    position: relative;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    background: none;
    border: 1px solid #222222;
    color: #171d2b;
    outline: none;
    margin-top: 35px;
}

.content form .group label {
    position: absolute;
    font-weight: 500;
    color: #181818;
    font-size: 20px;
}

.content form .group_flex {
    display: flex;
}

.content form .group_btns{
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.content form .group_btns .btn_form,
.content form .group_btns .btn_cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 5px;
    color: #fff;
    transition: all .5s ease;
}

.content form .group_btns .btn_form {
    background: #242e42;
}

.content form .group_btns .btn_cancel {
    background: #b12121;
}

.content form .group_btns .btn_cancel i {
    margin-right: 5px;
}

.content form .group_btns .btn_form:hover {
    background: #131a27;
}

.content form .group_btns .btn_cancel:hover {
    background: #941b1b;
}

/* List form stocks */
.content_list {
    width: 450px;
    min-height: auto;
    max-height: 200px;
    padding: 5px 7px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, .5);
    overflow: auto;
    z-index: 100;
}

.content_list .list {
    width: 100%;
}

.content_list .list .list_item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 3px;
    cursor: pointer;
    font-weight: 500;
    color: #252525;
    transition: all .4s ease;
}

.content_list .list .list_item span {
    margin-right: 5px;
    font-weight: bold;
}

.content_list .list .list_item:hover {
    background-color: #ccc;
}